[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
python-dotenv = "*"
pygithub = "*"
textgenrnn = "*"
tensorflow = "==1.13.1"
keras = "*"
sklearn = "*"
numpy = "*"
autopep8 = "*"
astunparse = "*"
jsbeautifier = "*"
pygments = "*"
install = "*"
esprima = "==4.0.1"

[requires]
python_version = "3.6"
